@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

label {
  font-size: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.container {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.container > h1 {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container > div {
  display: flex;
  flex-direction: column;
}
.container input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.container input {
  font-size: 12px;
}
button {
  background-color: purple;
  border: none;
  font-size: 20px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  margin: 10px 0;
}
